{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" type="text/css" href="detail.css">
  </head>
  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li><span class="la">Posted at:</span> {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li><span class="la">Due at: </span>{{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li><span class="la">Status:</span> Completed</li>
      {% else %}
      <li><span class="la">Status: </span>Not Completed</li>
      {% endif %}
    </ul>

    <a class="delete" href="{% url 'delete' task.id %}">Delete</a>
    <a class="close" href="{% url 'close' task.id %}">Close</a>
    <div class="pos">
      <a class="top" href="{% url 'index' %}">Top</a>
    </div>    
    

  </body>

</html>
