h1{
    border-bottom: solid rgb(107, 221, 185);
    text-align: center;
}

ul{
    background-color: rgb(193, 237, 212);
    border-radius: 10px;
}

.la{
    font-weight: bold;
}

.delete{
    background-color: rgb(255, 173, 173);
    padding: 4px;
    border-radius: 5px;
    color: black;
    text-decoration-line: none;
}

.close{
    background-color: rgb(165, 165, 255);
    padding: 4px;
    border-radius: 5px;
    color: black;
    text-decoration-line: none;
}

.top{
    color: white;
    text-decoration-line: none;
}

.pos{
    position: fixed;
    right:15px;
    top: 15px;
    border-radius: 5px;
    background-color: rgb(154, 193, 247);
    padding: 4px;
}