h1{
    border-bottom: solid rgb(119, 167, 236);
    text-align: center;
}

form{
    background-color: rgb(191, 191, 191);
    padding: 4px;
    border-radius: 5px; 
}

label{
    font-weight: bold;
}

.submit{
    display: flex;
    justify-content: flex-end;
}

.Sort-p{
    display: flex;
    justify-content: flex-end;
    padding-left: 5px;
}

.sort{
    background-color: rgb(189, 255, 223);
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    color: black;
    text-decoration-line: none;
    border: solid 1px rgb(92, 225, 160);
}

h2{
    text-decoration-line: none;
    color: rgb(107, 221, 185);
}

.text{
    background-color: rgb(192, 224, 248);
    border-radius: 10px;
}